@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">National Wealth Bank of Australasia</h1>
    
    <div class="text-center">

    </div>
</div>

<hr />

<p>
    <a class="btn btn-primary" asp-controller="Login" asp-action="Login">Login </a>
</p>