@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Logins"><input type="button" name="Login" value="Login" /></a>
    <a href="/Logins/Create"><input type="button" name="Register" value="Register" /></a>
</div>
