@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Please input your account information to login</h2>
</div>
<div>
    Your ID:
    <input type="text" id="id" />
    </br>
    Your password:
    <input type="password" id="password" />
    <button type="submit" value="Login">Login</button>
</div>
<div>
    <a href="/Register">Register</a>
</div>
